@model PetshopBusiness.VMLogin

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<link href="~/css/Login/Login.css" rel="stylesheet" />

<section class="main-content-login">
    <div class="align">
        @*<img class="logo" src="img/logo.svg">*@
        <div class="card">
            <div class="head">
                <a id="login" class="selected" href="#login">Login</a>
                @*<a id="register" href="#register">Registrar</a>*@
            </div>
            <div class="tabs">
                @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.Hidden("formValue", "login")
                    <div class="inputs login-inputs">
                        <div class="input">
                            @*<input placeholder="Email" type="text">*@
                            @Html.TextBoxFor(t => t.Email, new { placeholder = "Email", id = "email-field" })
                            <img src="~/images/Login/mail.svg">
                        </div>
                        <div class="input">
                            @*<input placeholder="Password" type="password">*@
                            @Html.TextBoxFor(t => t.Password, new { placeholder = "Senha", type = "password", id = "password-field" })
                            <img src="~/images/Login/pass.svg">
                        </div>
                        <span class="msg-error">@Html.ValidationMessage("loginError")</span>
                        <label class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe, new { @name = "RememberMe" })
                            <span>Lembrar senha</span>
                        </label>
                    </div>
                    <button type="submit">Login</button>

                    <div class="create-account-div" style="margin-top: 10px;">
                        <span style="color: white">
                            Não tem uma conta? <a href="@(Url.Action("CreateAccount", "Home"))" style="font-weight: bold"> Criar conta</a>
                        </span>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script src="~/js/Login/Login.js"></script>
}